ansible-compat==25.11.0 ; python_version >= "3.12"
ansible-core==2.18.11 ; python_version >= "3.12"
ansible-lint==25.9.2 ; python_version >= "3.12" and platform_system != "Windows"
ansible==11.12.0 ; python_version >= "3.12"
attrs==25.4.0 ; python_version >= "3.12"
black==25.11.0 ; python_version >= "3.12" and platform_system != "Windows"
bracex==2.6 ; python_version >= "3.12"
cachetools==6.2.1 ; python_version >= "3.12"
certifi==2025.10.5 ; python_version >= "3.12"
cffi==2.0.0 ; (platform_python_implementation != "PyPy" or platform_system != "Windows") and python_version >= "3.12"
chardet==5.2.0 ; python_version >= "3.12"
charset-normalizer==3.4.4 ; python_version >= "3.12"
click-help-colors==0.9.4 ; python_version >= "3.12"
click==8.3.0 ; python_version >= "3.12"
colorama==0.4.6 ; python_version >= "3.12"
cryptography==46.0.3 ; python_version >= "3.12"
distlib==0.4.0 ; python_version >= "3.12"
distro==1.9.0 ; python_version >= "3.12" and platform_system != "Windows"
durationpy==0.10 ; python_version >= "3.12"
enrich==1.2.7 ; python_version >= "3.12"
filelock==3.20.0 ; python_version >= "3.12"
flake8==7.3.0 ; python_version >= "3.12"
google-auth==2.43.0 ; python_version >= "3.12"
idna==3.11 ; python_version >= "3.12"
importlib-metadata==8.7.0 ; python_version >= "3.12" and platform_system != "Windows"
iniconfig==2.3.0 ; python_version >= "3.12"
jinja2==3.1.6 ; python_version >= "3.12"
jmespath==1.0.1 ; python_version >= "3.12"
jsonschema-specifications==2025.9.1 ; python_version >= "3.12"
jsonschema==4.25.1 ; python_version >= "3.12"
kubernetes==34.1.0 ; python_version >= "3.12"
markdown-it-py==4.0.0 ; python_version >= "3.12"
markupsafe==3.0.3 ; python_version >= "3.12"
mccabe==0.7.0 ; python_version >= "3.12"
mdurl==0.1.2 ; python_version >= "3.12"
molecule-plugins==23.7.0 ; python_version >= "3.12"
molecule==25.1.0 ; python_version >= "3.12"
mypy-extensions==1.1.0 ; python_version >= "3.12" and platform_system != "Windows"
netaddr==1.3.0 ; python_version >= "3.12"
oauthlib==3.3.1 ; python_version >= "3.12"
packaging==25.0 ; python_version >= "3.12"
pathspec==0.12.1 ; python_version >= "3.12"
platformdirs==4.5.0 ; python_version >= "3.12"
pluggy==1.6.0 ; python_version >= "3.12"
pyasn1-modules==0.4.2 ; python_version >= "3.12"
pyasn1==0.6.1 ; python_version >= "3.12"
pycodestyle==2.14.0 ; python_version >= "3.12"
pycparser==2.23 ; (platform_python_implementation != "PyPy" or platform_system != "Windows") and implementation_name != "PyPy" and python_version >= "3.12"
pyflakes==3.4.0 ; python_version >= "3.12"
pygments==2.19.2 ; python_version >= "3.12"
pyproject-api==1.10.0 ; python_version >= "3.12"
pytest-testinfra==10.2.2 ; python_version >= "3.12"
pytest==9.0.0 ; python_version >= "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.12"
python-vagrant==1.0.0 ; python_version >= "3.12"
pytokens==0.3.0 ; python_version >= "3.12" and platform_system != "Windows"
pyyaml==6.0.3 ; python_version >= "3.12"
referencing==0.37.0 ; python_version >= "3.12"
requests-oauthlib==2.0.0 ; python_version >= "3.12"
requests==2.32.5 ; python_version >= "3.12"
resolvelib==1.0.1 ; python_version >= "3.12"
rich==14.2.0 ; python_version >= "3.12"
rpds-py==0.28.0 ; python_version >= "3.12"
rsa==4.2 ; python_version >= "3.14"
rsa==4.9.1 ; python_version >= "3.12" and python_version < "3.14"
ruamel-yaml-clib==0.2.14 ; python_version < "3.14" and platform_system != "Windows" and python_version >= "3.12"
ruamel-yaml==0.18.16 ; python_version >= "3.12" and platform_system != "Windows"
six==1.17.0 ; python_version >= "3.12"
subprocess-tee==0.4.2 ; python_version >= "3.12"
tox==4.32.0 ; python_version >= "3.12"
typing-extensions==4.15.0 ; python_version == "3.12"
urllib3==2.3.0 ; python_version >= "3.12"
virtualenv==20.35.4 ; python_version >= "3.12"
wcmatch==10.1 ; python_version >= "3.12"
websocket-client==1.9.0 ; python_version >= "3.12"
yamllint==1.37.1 ; python_version >= "3.12"
zipp==3.23.0 ; python_version >= "3.12" and platform_system != "Windows"
